<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Software.Basico.Properties.Settings.PBTdB" connectionString="Dsn=LocalHost;description=Banco de Dados Local;server=localhost;uid=root;pwd=1234;database=PBTdB;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>